<div class="jumbotron">
  <h1 class="display-3">Welcome Closet</h1>
  <p class="lead">〜おうちのクローゼットを手の中に〜</p>
  <hr class="my-2">
  <p class="lead">
    <a class="btn btn-secondary" href="/users/sign_up" role="button">sign up</a>
    <a class="btn btn-secondary" href="/users/sign_in" role="button">log in</a>
    <a class="btn btn-secondary" href="#!" role="button">guest login</a>
  </p>
</div>

