<h3>items</h3>
    <div class="check_box">
      <h5>ジャンル検索</h5>
      <%= form_with model: @season, class: 'boards__searchForm' do %>
      <% @seasons.each do |season| %>
      <div class="tag-box">
        <%= link_to season.seasonal, dresses_path(seasonal: season.id) %>
      </div>
      <% end %>
    <% end %>
    </div>

    <% @dresses.each_slice(4) do |dress| %>
     <div class ="image">
       <% dress.each do |image| %>
          <%= link_to dress_path(dress)  do %>
          <%= image_tag image.get_image, size:'200x200' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
