<div class="container">
  <div class="row">
    <div class="col-xl-2">
      <%= render "public/users/info", user: @user %>
    </div>
    <div class="col-xl-10">
    <h3 class="text-success">introduction</h3>
    	  <h6><%= @user.introduction %></h6>

    <h3 class="text-success">items</h3>
    <%= render "public/dresses/user_dresses", dresses: @dresses, user: @user %>





    </div>
  </div>
</div>
