<div class="container">
  <div class="row">
    <div class="col-5">
      <!-- Content -->
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
      closet
      </button>
    </div>
    <div class="col-5">
      <!-- Content -->
    </div>
  </div>
</div>


